#Mentinella_Studio {
    position: absolute;
    width: 1920px;
    height: 2031px;
    background-color: rgba(0,0,0,1);
    overflow: hidden;
    --web-view-name: Mentinella Studio;
    --web-view-id: Mentinella_Studio;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}