.mediaViewInfo {
	--web-view-name: Mentinella HOME;
	--web-view-id: Mentinella_HOME;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Mentinella_HOME;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Mentinella_HOME {
	position: absolute;
	max-width: 100%; 1366px;
	height: auto; 1536px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	--web-view-name: Mentinella HOME;
	--web-view-id: Mentinella_HOME;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#aaa {
	border: 0;
	 507px;
	 265px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 353px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#aab {
	border: 0;
	 139px;
	 489px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 203px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#aac {
	border: 0;
	 140px;
	 547px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 513px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#aad {
	border: 0;
	 139px;
	 605px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 353px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#aae {
	border: 0;
	 139px;
	 663px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 500px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#aaf {
	border: 0;
	 1211px;
	 615px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#aag {
	border: 0;
	 1233px;
	 588px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#aah {
	border: 0;
	 648px;
	 870px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#aai {
	border: 0;
	 139px;
	 972px;
	position: absolute;
	overflow: visible;
	max-width: 100%; 850px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(255,255,255,1);
}
